* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
  }
  
  li, img {
    max-width: 500px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }

  section {
      text-align: left;
  }

 .search-header {
      text-align: center;
  }
  
  .hidden {
    display: none;
  }

  .info-left {
    display: inline-block;
    width: 29%;
  }

  .info-right {
    display: inline-block;
    width: 70%;
    padding-left: 20px;
    vertical-align: top;
  }

  #movie-poster img {
    width: 100%;
  }

  .cast-card {
    display: inline-block;
    width: 30%;
    margin: 0px 5px;
    vertical-align: top;
  }

  .cast-image {
    height: 350px;
    overflow: hidden;
  }

  .cast-image img {
    width: 100%;
  }

  .rec-card {
    display: inline-block;
    margin: 0px 5px;
    vertical-align: top;
  }

  .rec-image img {
    width: 100%;
  }