* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }

  section {
      text-align: left;
  }

 .search-header {
      text-align: center;
  }
  
  .hidden {
    display: none;
  }

  .not-found {
    background-color: lightgray;
    text-align: center;
    vertical-align: middle;
    min-height: 150px;
    margin: 0;
    padding: 50px 10px;
  }

  .site-about {
    text-align: center;
    width: 60%;
    margin: 100px auto 0px;
  }

  #js-form-movies {
    text-align: center;
  }

  .info-left {
    display: inline-block;
    width: 29%;
  }

  .info-right {
    display: inline-block;
    width: 70%;
    padding-left: 20px;
    vertical-align: top;
  }

  #movie-poster img {
    width: 100%;
  }

  .cast-card {
    display: inline-block;
    width: 30%;
    margin: 0px 5px;
    vertical-align: top;
  }

  .cast-image {
    height: 350px;
    overflow: hidden;
    min-height: 150px;
  }

  .cast-image img {
    width: 100%;
    min-height: 350px;
  }

  .rec-card {
    display: inline-block;
    margin: 0px 5px;
    vertical-align: top;
  }

  .rec-image img {
    width: 100%;
  }

  .new-search {
    text-align: center;
    margin: 10px 0px;
  }